<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Grocery List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/ang-grocery-styles.css">
  </head>
  <body ng-app="groceryList">
    <div class="container" ng-controller="MainCtrl">
      <h1 class="mainHeader">{{ title }}</h1>
      <ul class="itemsBox">
        <li ng-repeat="item in groceryList">{{ item.name }}<span ng-click="deleteItem($index)" class="glyphicon glyphicon-trash" aria-hidden="true"></span><span ng-click="editItem(item)" class="glyphicon glyphicon-pencil" area-hidden="true"></span></li>
      </ul>

      <form ng-show="editing" ng-submit="updateItem()">
        <div class="form-group">
          <input ng-model="itemName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Grochery Item">
        </div>
        <button type="submit" class="btn btn-default">Update</button>
      </form>

      <form ng-hide="editing" ng-submit="addItem()">
        <div class="form-group">
          <input ng-model="itemName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Grochery Item">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <br/>
    <img class="harvest-basket" src="img/harvest-basket.jpg" height="400px" width="775px" border="5px"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="scripts/main.js"></script>
    <br/>
    <br/>
    <footer class="foot">#buy-eat-live/healthy</footer>
  </body>
</html>
